@import './reset.css';

.APP{
  width: 100%;
}

.header{
  border: red;
  position: absolute;
  z-index: 10;
  width:100%;
}

.App-header{
font-family: 'Concert One', cursive;
color:red;
font-size: 2rem;
background-color: white;
margin: 1rem 0 0 3rem;
}



