
@import './reset.css';

#root-container{
  box-sizing: border-box;
  width: 100%;
  overflow: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#home-page-container{
  box-sizing: border-box;
  width: 100%;
  overflow: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
}

p {
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}

.small-gray-text{
  margin: 0 auto;
  width: 75%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #b2b2b2;
  margin-bottom: 2rem;

}


/* HEADER & FOOTER */

#footer-container{
  margin-top: 100px;
  padding-top: 1.5rem;
  height: 3.5rem;
  width: 90%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8em;
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  border-top: solid thin #b2b2b2;
  /*background: blue;*/
}

.copyright{
  display: block;
  
}

.footer-links{
  display:inline;
}

.footer-links li a:visited{
  text-decoration: none;
  color: black;

}

.footer-links li a:hover{
  border-bottom: solid thin ;
}

.footer-links li{
    display:inline;
    padding-left: 1rem;
    text-decoration: none;
  }

.footer-links li a{
  text-decoration: none;
}




/* NAVIGATION */


.nav-container {
  width: 90%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  border-bottom: solid thin #b2b2b2;
  align-items: center;
}

.logo {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  margin-right: 5rem;
  padding-bottom: 1.5rem;
}

.logo a {
  text-decoration: none;
}
.logo a:hover{
  border-bottom: solid thin #b2b2b2;
}

.main-nav {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 50%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding-bottom: 1.5rem;
  }

  .main-nav ul{
    wight: 75%;
  }

.main-nav li {
  box-sizing: border-box;
  text-align: center;
}

.main-nav li a {
  text-decoration: none;
}

.main-nav li a:visited{
  color: black;
}

.main-nav li a:hover{
  border-bottom: solid thick #b2b2b2;
}

.login-nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-left: 4rem;
  padding-bottom: 1.5rem;

}

.login-nav li {
  box-sizing: border-box;
  padding: 0 10 0 10px;
  /*border: 10px solid blue;*/
}

.login-nav li a {
  text-decoration: none;
}

.login-nav li a:hover{
  border-bottom: solid thick #b2b2b2;
}

.logged-in-note {
  display: block;
  align-items: center;
}

.logout-button {
  border: 10px solid blue;
  width: 200px;
}

/* General Styling */



#map-container {
  left-margin: 20px;
  right-margin: 20px;
  top-margin: 20px;
  width: 90%;
  align-self: center;
}

.MakeNewUser, #login-container, #checkout-container, .confirmation-page, .edit, .AboutUs-Container, .ContactUs-Container, .Faq-Container{
  display: block;
  flex: 0 0 90%;
  text-align: center;
  padding-top: 30px;
}

.new-user-submit, .login-submit {
  margin-top: 25px;
  padding: 5 20 5 20px;
}


input[type=text], input[type=password]{
 border:none;
 border-bottom: 2px solid #b2b2b2;
 height: 2em;
 width: 30%;
 margin-top:2em;
 text-align: center;
 font-size: 15px;
}

input[type=text]:focus, input[type=password]:focus  {
  border-bottom: 2px solid #FFD750;
  outline: none;
}

input[type=submit]{
  background-color: #B2b2B2;
  text-decoration: none;
  border:none ;
  /*margin-top:3rem;*/
  /*width: 20%;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

input[type=submit]:hover{
  background-color: black;
  text-decoration: none;
  border:none ;
  /*margin-top:3rem;*/
  /*width: 20%;*/
  color: white;
}



.text{
  width: 10em;
  margin: 3rem 45% ;
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}
/* PAYMENT */

.description-text {
  padding-top: 20px;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2rem;
}

.payment-description {
  padding: 30 0 30 0px;
}



/* EDIT PROFILE PAGE */

.editForm, .donations{
  display: block;
  margin-top:3rem;
  margin-left:10%;
  width: 80%;
}

.editInfo input[type=text], .editInfo input[type=password]{
 height: 2em;
 width: 20%;
 text-align: left;
 font-size: 15px;
 padding-left: 2%;
 display: inline;
}

.editInfo input[type=text]:focus, .editInfo input[type=password]:focus  {
  border-bottom: 2px solid #FFD750;
  outline: none;
}

input[type=submit]{
  background-color: #B2b2B2;
  text-decoration: none;
  border:none ;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px){
  
.nav-container {
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 3rem;
  font-size: 16px;
  border-bottom: solid thin #b2b2b2;
  align-items: center;
}

.logo {
  margin: 0 auto;
}



.main-nav {
  width: 100%;
  justify-content: space-between;
  display: inline;
  }

  .main-nav ul{
    wight: 75%;
  }

.main-nav li {
  box-sizing: border-box;
  text-align: center;
}

.main-nav li a {
  text-decoration: none;
}

.main-nav li a:visited{
  color: black;
}

.main-nav li a:hover{
  border-bottom: solid thick #b2b2b2;
}

.login-nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-left: 4rem;
  padding-bottom: 1.5rem;

}

.login-nav li {
  box-sizing: border-box;
  padding: 0 10 0 10px;
  /*border: 10px solid blue;*/
}

.login-nav li a {
  text-decoration: none;
}

.login-nav li a:hover{
  border-bottom: solid thick #b2b2b2;
}

.logged-in-note {
  display: block;
  align-items: center;
}

.logout-button {
  border: 10px solid blue;
  width: 200px;
}

      
}

/* MOBILE VIEW */


.loader{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 2rem;
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.graph-box{
  width: 95%;
  margin-left: 3%;
  margin-right: 5.5%;
}


.leaflet-popup-content{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  text-align: center;
}

.adopt {
  background-color: #555555;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
}
.adopt:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 13px 40px 0 rgba(0,0,0,0.19);
}


/* GRAPH MENU */

.graphMenu{
  margin: 0 auto;
  display: block;
  width:75%;
}

.radioButton input[type=radio]{
  border:solid thin black;
  display: inline-block;
}

